<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>

    var canvas = d3.select("body")
                 .append("svg")
                 .attr("width",100)
                 .attr("height",70)
    var circle = canvas.append("circle")
                 .attr("cx",50)
                 .attr("cy",50)
                 .attr("r",20)
                 .attr("fill","red")
                 .attr("opacity","0.3");
    var canvas = d3.select("body")
                 .append("svg")
                 .attr("width",100)
                 .attr("height",70)
                 .attr("")
    var circle = canvas.append("circle")
                 .attr("cx",50)
                 .attr("cy",50)
                 .attr("r",20)
                 .attr("fill","red")
                 .attr("opacity","0.7");
    var canvas = d3.select("body")
                 .append("svg")
                 .attr("width",100)
                 .attr("height",70)
    var circle = canvas.append("circle")
                 .attr("cx",50)
                 .attr("cy",50)
                 .attr("r",20)
                 .attr("fill","red")
                 .attr("opacity","1");
</script>
<p>20%probability   30%probability        40%probability</p>
</body>
</html>