{%extends "base.html"%}
{%block content%}

    <title>Banksia</title>

    <Link rel="stylesheet" href="/static/css/bug_detail.css">
 <script>
	var atuokey = false;

function $(id) {
    return document.getElementById(id);
}

function loadFunction(func){
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
        window.onload = func;
    } else {
        window.onload = function(){
            oldonload();
            func();
        }
    }
}

function moveElement(elementId, final_x, final_y, interval){
    node = $(elementId);

    if(node.movement){
        clearTimeout(node.movement);
    }
    if(!node.style.left){
        node.style.left = "0px";
    }
    if(!node.style.top){
        node.style.top = "0px";
    }

    var xpos = parseInt(node.style.left);
    var ypos = parseInt(node.style.top);
    if(xpos == final_x && ypos == final_y){
        return true;
    }
    if(xpos < final_x){
        var dis = Math.ceil((final_x - xpos)/10)
        xpos += dis;
    }
    if(xpos > final_x){
        var dis = Math.ceil((xpos-final_x)/10);
        xpos -= dis;
    }
    if(ypos < final_y){
        var dis = Math.ceil((final_y - ypos)/10);
        ypos += dis;
    }
    if(ypos > final_y){
        var dis = Math.ceil((ypos - final_y) /10);
        ypos -= dis;
    }

    node.style.left = xpos + "px";
    node.style.top = ypos + "px";

    var repeat = "moveElement('"+elementId+"',"+final_x+","+final_y+","+interval+")";
    node.movement = setInterval(repeat,interval);
}

function classNormal(picFoucusId, picTextId){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    for(var i = 0; i < 3; i++ ){
        focusNodes[i].className = "normal";
        textNodes[i].className = "normal";
    }
}

function classCurrent(picFoucusId, picTextId, n){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    focusNodes[n].className = "current";
    textNodes[n].className = "current";
}

function picSwitch(){
    if(!$("picWhole")) return false;
    $("picWhole").onmouseover = function(){atuokey = true};
    $("picWhole").onmouseout = function(){atuokey = false};
    var picFocus = $("picFoucus").getElementsByTagName('li');
    var listLength = picFocus.length;
    if(listLength == 3){
        picFocus[0].onmouseover = function() {
                moveElement('picList',0,0,10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',0);
            }
            picFocus[1].onmouseover = function() {
                    moveElement('picList',0,-350,10);
                    classNormal('picFoucus','picText');
                    classCurrent('picFoucus','picText',1);
            }
            picFocus[2].onmouseover = function() {
                moveElement("picList", 0, -700, 10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',2);
            }
    }
}
function operation(n){
    var x = [0, -225, -450, -675];
    if(n == 3){
        moveElement('picList',0,x[n-3],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',0);
    }else{
        moveElement('picList',0,x[n+1],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',n+1);
    }
}
loadFunction(picSwitch);
 </script>

  <h3 class="heading">Banksia</h3>
  <div class="row">
      <div class="content col-sm-1">
      <h2 class="h2" style="margin-left: 0.1em">G<br>arden Pests</h2><br><br><br>
          <a href="#name" style="font:1.5em Georgia;">Introduction</a><br><br><br>
          <a href="#identify" style="font:1.5em Georgia;">Banksia In Garden</a><br><br><br>
          <a href="#control" style="font:1.5em Georgia;">In Better Condition</a>
      </div>
  <div class="body1">
  <div class="left col-sm-4">
     <h1 class="h1" id="name">Banksia</h1>
      <br>
            <h2 class="h2">This species was brought to Australia back in the 1700 by the British. It then spread to all home-landscapesparts of the country with Melbourne being a perfect place. Their spiky-corn-like flowers are easier to locate in parts of the city.</h2>
            <h2 class="h2">Banksias are a great lure for native birds. The abundant nectar on the candle-like spikes of flower draw nectar-eating birds, such as New Holland honeyeaters, as well as nectar-loving insects. The insects in turn attract birds such as fantails and thornbills. Later in the flower’s lifecycle, the seeds attract larger birds including parrots and cockatoos.</h2>
      <br>
  </div>
  <div class="right col-sm-5">

      <div id="main">
         <div id="picWhole">
             <div id="pic">
                 <div id="picList">
                     <ul>
                         <li><a href="/static/img/leaves/Banksia1.jpg" target="_blank"><img src="/static/img/leaves/Banksia1.jpg" alt=""/></a></li>
                         <li><a href="/static/img/leaves/Banksia2.jpg" target="_blank"><img src="/static/img/leaves/Banksia2.jpg" alt=""/></a></li>
                         <li><a href="/static/img/leaves/Banksia3.jpg" target="_blank"><img src="/static/img/leaves/Banksia3.jpg" alt=""/></a></li>
                     </ul>
                 </div>
                 <div id="blank"></div>
                 <div id="picText">
                     <ul>
                         <li class="current">Banksia</li>
                         <li class="normal">Banksia</li>
                         <li class="normal">Banksia</li>
                         <li class="normal">Banksia</li>
                     </ul>
                 </div>
             </div>
             <div id="picFoucus">
                 <ul>
                     <li class="current"><img src="/static/img/leaves/Banksia1.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/leaves/Banksia2.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/leaves/Banksia3.jpg" alt=""/></li>
                 </ul>
             </div>
         </div>
     </div>
</div>
      <div class="bottom col-sm-12">
          <h1 class="h1" id="identify">Banksia In Garden </h1>
          <br>
          <h2 class="h2">Australia lays claim to 77 of the 78 banksia species; the exception being found in Papua New Guinea. The majority of our 77 species are native to southwest Western Australia and most of these cannot cope with the East Coast’s humid conditions. The humidity provides an ideal environment for the spread of the root rot fungus, Phytophthora cinnamomi, to which western banksias are particularly sensitive. Some species, such as Banksia speciosa, appear to grow quickly and thrive for a couple of years, only to cause distress to their gardeners by dying rapidly over a single summer. Banksias are used to well-drained sandy soils or sandy loams and sunny positions. If your soil is heavy or drainage poor, look for Banksia integrifolia or Banksia robur. Some forms of Banksia spinulosa are found naturally on clay soils in the Sydney basin, but be prepared for slow growth.</h2>
          <br>
            <h1 class="h1" id="control">In Better Condition</h1>
      <br>
            <h2 class="h2">To improve soils to banksia-friendly condition, add gypsum or other soil conditioner or raise the soil level into a mound at least 30-60 cm above the pre-existing level. Banksias appreciate extra water during dry periods, especially during summer. Special care should be taken not to let them dry out until established. They will eventually put roots deep into the ground and find the water table, but the process may take up to two years.
Fertilising with phosphorus should be minimal. A slow-release, low-phosphorous treatment is best. If new leaves turn yellow use iron chelate or iron sulphate according to the instructions. Species that grow from lignotubers, a group that includes Banksia robur, B. spinulosa and B. serrata, may be pruned hard - even back to ground level. Others, including B. ericifolia and B. ‘Giant Candles’ are nonlignotuberous and should be pruned lightly (not below green foliage) after each flush of flowers. This prolongs the life of the plants and keeps them compact.
In recent years some nurseries, plant enthusiasts and members of the Australian Plant Society have turned their attention to breeding new banksia hybrids and grafting techniques have made it possible to grow banksias in varying soil types. Some species have been grafted onto fungal-resistant eastern species. Combinations to look out for include Banksia brownii on B. integrifolia and B. speciosa on B. aemula.</h2>
          <br>
      </div>
</div>
</div>

{%endblock content%}