{%extends "base.html"%}
{%block content%}
<Link rel="stylesheet" href="/static/css/bug_pic_gallery.css">
<section class="section">

    <div class="box_header"><h1>Bugs Picture Gallery</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/1.1 Yellow_Aphids.jpg" />
                            <figcaption class="figcaption2" >
                                <p style="font: 20px Georgia; color: white;">Yellow_Aphids</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/yellowaphids" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/10.1 get-rid-of-cabbage-worms.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Cabbage Worms</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/cabbageworms" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/6.1 Citrus-Leafminer-silver-trail.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Citrus Leafminer</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/citrusleafminer" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/3.1 Mealybugs.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;"> Mealybugs</p>
                            <br><br><br><br><br><br>
                             <a href="http://127.0.0.1:8000/mealybugs" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/2.1 Cabbage-Whitefly.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Cabbage Whitefly</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/cabbagewhitefly" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/11.3 prevent-cutworm-damage_full_width.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Cutworm</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/cutworm" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/7.2 Male European warwig.png" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">European Earwigs</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/europeanearwigs" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/9.1 getting-rid-of-slugs_full_width.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Slugs</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/slugs" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/4.1 Cabbage-Moth.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Cabbage Moth</p>
                                <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/cabbagemoth" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/5.1 japanese-beetle-damage_1_full_width.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Japanese-beetle</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/japanesebeetle" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/8.1 Psyllids.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Psyllids</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/psyllids" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock content%}

