{%extends "base.html"%}
{%block content%}

    <title>Cabbage-Moth</title>

    <Link rel="stylesheet" href="/static/css/bug_detail.css">
 <script>
	var atuokey = false;

function $(id) {
    return document.getElementById(id);
}

function loadFunction(func){
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
        window.onload = func;
    } else {
        window.onload = function(){
            oldonload();
            func();
        }
    }
}

function moveElement(elementId, final_x, final_y, interval){
    node = $(elementId);

    if(node.movement){
        clearTimeout(node.movement);
    }
    if(!node.style.left){
        node.style.left = "0px";
    }
    if(!node.style.top){
        node.style.top = "0px";
    }

    var xpos = parseInt(node.style.left);
    var ypos = parseInt(node.style.top);
    if(xpos == final_x && ypos == final_y){
        return true;
    }
    if(xpos < final_x){
        var dis = Math.ceil((final_x - xpos)/10)
        xpos += dis;
    }
    if(xpos > final_x){
        var dis = Math.ceil((xpos-final_x)/10);
        xpos -= dis;
    }
    if(ypos < final_y){
        var dis = Math.ceil((final_y - ypos)/10);
        ypos += dis;
    }
    if(ypos > final_y){
        var dis = Math.ceil((ypos - final_y) /10);
        ypos -= dis;
    }

    node.style.left = xpos + "px";
    node.style.top = ypos + "px";

    var repeat = "moveElement('"+elementId+"',"+final_x+","+final_y+","+interval+")";
    node.movement = setInterval(repeat,interval);
}

function classNormal(picFoucusId, picTextId){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    for(var i = 0; i < 3; i++ ){
        focusNodes[i].className = "normal";
        textNodes[i].className = "normal";
    }
}

function classCurrent(picFoucusId, picTextId, n){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    focusNodes[n].className = "current";
    textNodes[n].className = "current";
}

function picSwitch(){
    if(!$("picWhole")) return false;
    $("picWhole").onmouseover = function(){atuokey = true};
    $("picWhole").onmouseout = function(){atuokey = false};
    var picFocus = $("picFoucus").getElementsByTagName('li');
    var listLength = picFocus.length;
    if(listLength == 3){
        picFocus[0].onmouseover = function() {
                moveElement('picList',0,0,10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',0);
            }
            picFocus[1].onmouseover = function() {
                    moveElement('picList',0,-350,10);
                    classNormal('picFoucus','picText');
                    classCurrent('picFoucus','picText',1);
            }
            picFocus[2].onmouseover = function() {
                moveElement("picList", 0, -700, 10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',2);
            }
    }
}
function operation(n){
    var x = [0, -225, -450, -675];
    if(n == 3){
        moveElement('picList',0,x[n-3],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',0);
    }else{
        moveElement('picList',0,x[n+1],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',n+1);
    }
}
loadFunction(picSwitch);
 </script>

  <h3 class="heading">Cabbage Moth</h3>
  <div class="row">
      <div class="content col-sm-1">
      <h2 class="h2" style="margin-left: 15px">G<br>arden <br>Pests</h2><br><br><br>
          <a href="#name" style="font:20px Georgia;">Introduction</a><br><br><br>
          <a href="#identify" style="font:20px Georgia;">How to identify</a><br><br><br>
          <a href="#control" style="font:20px Georgia;">How to control and prevent</a>
      </div>
  <div class="body1">
  <div class="left col-sm-4">
     <h1 class="h1" id="name">Cabbage Moth</h1>
      <br>
            <h2 class="h2">The cabbage moth is greyish in color with a wingspan of about 40mm. It can often be seen flying during daylight. It lays their eggs underside of leaves.  Larvae are hairless and are yellow or brownish green in color. The caterpillars feed within the outer leaves of brassica plants such as broccoli, cabbage, Chinese cabbage, Watercress, Mustard and Brussel sprouts, often burrow deep inside the developing head.</h2>
            <h2 class="h2">Large holes in outer leaves; Dark green droppings on leaves; Discoloration of the heads of the cauliflower and broccoli, which is caused by the caterpillars’ excrement.</h2>
      <br>
  </div>
  <div class="right col-sm-5">

      <div id="main">
         <div id="picWhole">
             <div id="pic">
                 <div id="picList">
                     <ul>
                         <li><a href="#" target="_blank"><img src="/static/img/4.1 Cabbage-Moth.jpg" alt=""/></a></li>
                     </ul>
                 </div>
                 <div id="blank"></div>
                 <div id="picText">
                     <ul>
                         <li class="current">Cabbage_Moth</li>
                     </ul>
                 </div>
             </div>
             <div id="picFoucus">
                 <ul>
                     <li class="current"><img src="/static/img/4.1 Cabbage-Moth.jpg" alt=""/></li>
                 </ul>
             </div>
         </div>
     </div>
</div>
      <div class="bottom col-sm-12">
          <h1 class="h1" id="identify">How to identify </h1>
          <br>
          <h2 class="h2">Adults (1/16 inch long) are moth-like insects with powdery white wings and short antenna. They are easily recognized and often found near the tops of plants or on stem ends. Wingless nymphs are flattened, oval and almost scale-like in appearance. After the first instar, or crawler stage, they settle down and attach themselves to the underside of leaves and begin feeding.</h2>
          <br>
            <h1 class="h1" id="control">Control and Preventions</h1>
      <br>
            <h2 class="h2">Remove infested leaves if the number of whiteflies is less.
            Hose the insects down with water for several days. This is effective only in the early stage of infestation.
            Use a hand-held vacuum cleaner to suck up the adult whiteflies. Put it in a plastic bag and freeze it before discarding.
            Plant Marigolds and Alyssum near susceptible plants to attract natural predators such as lacewings, ladybirds, and hoverflies.
            Spray with home-made insecticides made of hot chilli or garlic. Make sure to cover the undersides of leaves.
            Use potassium soap sprays or neem oil.</h2>
      <br>
            <h1 class="h1">Non-Chemical Control</h1>
            <h2 class="h2">Start by attracting small insect-eating birds by providing safe nest sites and a constant supply of water. Dense plantings of native shrubs, in out-of-the-way corners will provide nesting sites; prickly shrubs give added protection from predators.Nesting boxes for birds can fulfil an urgent need created by habitat destruction.</h2>
      </div>
</div>
</div>

{%endblock content%}