{%extends "base.html"%}
{%block content%}

    <title>Japanese_Beetle</title>

    <Link rel="stylesheet" href="/static/css/bug_detail.css">
 <script>
	var atuokey = false;

function $(id) {
    return document.getElementById(id);
}

function loadFunction(func){
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
        window.onload = func;
    } else {
        window.onload = function(){
            oldonload();
            func();
        }
    }
}

function moveElement(elementId, final_x, final_y, interval){
    node = $(elementId);

    if(node.movement){
        clearTimeout(node.movement);
    }
    if(!node.style.left){
        node.style.left = "0px";
    }
    if(!node.style.top){
        node.style.top = "0px";
    }

    var xpos = parseInt(node.style.left);
    var ypos = parseInt(node.style.top);
    if(xpos == final_x && ypos == final_y){
        return true;
    }
    if(xpos < final_x){
        var dis = Math.ceil((final_x - xpos)/10)
        xpos += dis;
    }
    if(xpos > final_x){
        var dis = Math.ceil((xpos-final_x)/10);
        xpos -= dis;
    }
    if(ypos < final_y){
        var dis = Math.ceil((final_y - ypos)/10);
        ypos += dis;
    }
    if(ypos > final_y){
        var dis = Math.ceil((ypos - final_y) /10);
        ypos -= dis;
    }

    node.style.left = xpos + "px";
    node.style.top = ypos + "px";

    var repeat = "moveElement('"+elementId+"',"+final_x+","+final_y+","+interval+")";
    node.movement = setInterval(repeat,interval);
}

function classNormal(picFoucusId, picTextId){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    for(var i = 0; i < 4; i++ ){
        focusNodes[i].className = "normal";
        textNodes[i].className = "normal";
    }
}

function classCurrent(picFoucusId, picTextId, n){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    focusNodes[n].className = "current";
    textNodes[n].className = "current";
}

function picSwitch(){
    if(!$("picWhole")) return false;
    $("picWhole").onmouseover = function(){atuokey = true};
    $("picWhole").onmouseout = function(){atuokey = false};
    var picFocus = $("picFoucus").getElementsByTagName('li');
    var listLength = picFocus.length;
    if(listLength == 4){
        picFocus[0].onmouseover = function() {
                moveElement('picList',0,0,10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',0);
            }
            picFocus[1].onmouseover = function() {
                    moveElement('picList',0,-350,10);
                    classNormal('picFoucus','picText');
                    classCurrent('picFoucus','picText',1);
            }
            picFocus[2].onmouseover = function() {
                moveElement("picList", 0, -700, 10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',2);
            }
            picFocus[3].onmouseover = function() {
                moveElement("picList", 0, -1050, 10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',3);
            }
    }
}
function operation(n){
    var x = [0, -225, -450, -675];
    if(n == 3){
        moveElement('picList',0,x[n-3],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',0);
    }else{
        moveElement('picList',0,x[n+1],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',n+1);
    }
}
loadFunction(picSwitch);
 </script>

  <h3 class="heading">Japanese Beetle</h3>
  <div class="row">
      <div class="content col-sm-1">
      <h2 class="h2" style="margin-left: 15px">G<br>arden <br>Pests</h2><br><br><br>
          <a href="#name" style="font:20px Georgia;">Introduction</a><br><br><br>
          <a href="#identify" style="font:20px Georgia;">Infestations</a><br><br><br>
          <a href="#control" style="font:20px Georgia;">How to control and prevent</a>
      </div>
  <div class="body1">
  <div class="left col-sm-4">
     <h1 class="h1" id="name">Japanese Beetle (Popillia Japonica)</h1>
      <br>
            <h2 class="h2">Japanese beetles are oval shaped measuring about 11 mm in length and 7 mm in width. They are metallic green in color with coppery-brown wing covers that do not completely cover the abdomen. Larvae appear as c-shaped translucent and creamy white grubs with yellowish-brown head. Adults feed on flowers, fruit and foliage causing extensive damage. Larvae, commonly known as white grubs, feed on the roots of many field crops, ornamentals and vegetables.</h2>

      <br>
  </div>
  <div class="right col-sm-5">

      <div id="main">
         <div id="picWhole">
             <div id="pic">
                 <div id="picList">
                     <ul>
                         <li><a href="#" target="_blank"><img src="/static/img/5.1 japanese-beetle-damage_1_full_width.jpg" alt=""/></a></li>
                         <li><a href="#" target="_blank"><img src="/static/img/5.2 japanese-beetle-identification-control_full_width.jpg" alt=""/></a></li>
                         <li><a href="#" target="_blank"><img src="/static/img/5.3 jbonleaf.jpg" alt=""/></a></li>
                         <li><a href="#" target="_blank"><img src="/static/img/5.4 jbef451.jpg" alt=""/></a></li>
                     </ul>
                 </div>
                 <div id="blank"></div>
                 <div id="picText">
                     <ul>
                         <li class="current">Japanese_Beetle</li>
                         <li class="normal">Japanese_Beetle</li>
                         <li class="normal">Japanese_Beetle</li>
                         <li class="normal">Japanese_Beetle</li>
                     </ul>
                 </div>
             </div>
             <div id="picFoucus">
                 <ul>
                     <li class="current"><img src="/static/img/5.1 japanese-beetle-damage_1_full_width.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/5.2 japanese-beetle-identification-control_full_width.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/5.3 jbonleaf.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/5.4 jbef451.jpg" alt=""/></li>
                 </ul>
             </div>
         </div>
     </div>
</div>
      <div class="bottom col-sm-12">
          <h1 class="h1" id="identify">Infestations</h1>
          <br>
          <h2 class="h2">Leaves with multiple holes Skeletonized plants Brown patches of grass that may indicate the presence of Japanese beetles</h2>
          <br>
            <h1 class="h1" id="control">Control and Preventions</h1>
      <br>
            <h2 class="h2">Manually remove (Hand pick) and put them in a solution of 1 tablespoon of liquid dishwashing detergent and water. Put a drop-cloth under a plant in the morning, shake them off and dump them into a bucket of soapy water. Companion planting can be a useful strategy in preventing pests. Try planting garlic, rue, or tansy near your affected plants to deter Japanese beetles. </h2>
      <br>
      </div>
</div>
</div>

{%endblock content%}