{%extends "base.html"%}
{%block content%}
<Link rel="stylesheet" href="/static/css/bug_pic_gallery.css">
<section class="section">

    <div class="box_header"><h1>Leaves Picture Gallery</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Banksia1.jpg" />
                            <figcaption class="figcaption2" >
                                <p style="font: 20px Georgia; color: white;">Banksia</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Banksia" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Beech1.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Australian Beech</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Beech" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/eucalyptus3.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Eucalyptus</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Eucalyptus" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Grevillea2.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Grevillea</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Grevillea" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Illawarra1.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Illawarra flame tree</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Illawarra" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Lilly1.png" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">The Lilly Pilly</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Lilly" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Moreton1.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Moreton Bay Fig</p>
                                <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Moreton" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Wattle1.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">The Golden Wattle</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Wattle" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="bootstrap-function">
                <div class="image-text">
                    <div class="li2">
                        <figure>
                            <img class="img2" src="/static/img/leaves/Willow1.jpg" />
                            <figcaption class="figcaption2">
                                <p style="font: 20px Georgia; color: white;">Willow Bottlebrush</p>
                            <br><br><br><br><br><br>
                            <a href="http://127.0.0.1:8000/Willow" style="font: 20px Georgia; color: white;">View More -></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock content%}

