{%extends "base.html"%}
{%block content%}
  <title>prevent</title>



      <link rel="stylesheet" href="/static/css/prevention.css">

<div>
  <div class="content1">
    <p style="font: 3.5em Gabriola; padding-top:5em;">Content</p>
    <p><a href="#diseases" style="text-align:center;font: 1.5em Gabriola; padding-top: 0.5em; padding-bottom:2em;">Prevent common diseases</a></p>
    <p><a href="#pet" style="text-align:center;font: 1.5em Gabriola; padding-top: 0.5em; padding-bottom:2em;">Prevent pet injury</a></p>
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
  </div>

  <div id="content">
      <p style="text-align:center;font: 3.5em Gabriola; padding-top:5em;padding-right:6em;">Garden Prevention</p>
      <p style="text-align:center;font: 1.5em Gabriola; padding-top: 0.5em; padding-bottom:2em;">
      </p>
      <p id="diseases" style="text-align:center;font: 1.5em Gabriola; padding-top: 0.5em; padding-bottom:2em;padding-right:13em;">9 tips to Prevent Common Garden Diseases</p>
  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent1.jpg" alt="cherry blossoms">
        <p class="caption">Sanitation</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?source=hp&ei=_fSwW9jzOYLt-QaJlp_QDQ&q=Sanitation&oq=Sanitation&gs_l=psy-ab.3..0l10.30422.32539.0.32800.4.2.0.0.0.0.250.250.2-1.1.0....0...1c.1.64.psy-ab..3.1.250.0...0.HXJCPIQytWE" target="_blank">
          <h1>Sanitation</h1>
        </a>
        <br>
        <p class="description">Start with a clean planting site, free of last year’s crop debris. Debris from the previous season’s crops may harbor diseases, weeds and insects.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent2.jpg" alt="white daisy">
        <p class="caption">Purchase good seeds</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=OfWwW76fGdWjwAOhhYoI&q=Purchase+good+seeds&oq=Purchase+good+seeds&gs_l=psy-ab.3...649479.649479.0.649939.1.1.0.0.0.0.242.242.2-1.1.0....0...1c.1.64.psy-ab..0.0.0....0.7nmbcOTnEXo" target="_blank">
          <h1>Purchase good seeds</h1>
        </a>
        <br>
        <p class="description">Select plants with healthy-looking leaves and strong stems (avoid spindly plants).<br>
            Purchase seeds and transplants only from reputable dealers.<br>
            Avoid collecting seeds from diseased or unhealthy-looking plants.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent3.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Avoid planting too early</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=afKwW5S9DoqpoASY9ICwCQ&q=Avoid+planting+too+early&oq=Avoid+planting+too+early&gs_l=psy-ab.3..33i22i29i30k1l2.1490847.1498159.0.1498384.26.24.1.1.1.0.355.4294.0j10j3j5.18.0....0...1c.1.64.psy-ab..6.19.3985...0j0i67k1j0i131k1j0i131i67k1j0i13k1j0i13i30k1j0i22i30k1j33i21k1.0.1lAEUnai0e8" target="_blank">
          <h1>Avoid planting too early</h1>
        </a>
        <br>
        <p class="description"> Plant growth may be slowed due to cold soil temperatures (slow-growing plants are more susceptible to attack by disease-causing organisms and insect pests).</p>
      </div>
    </div>
  </div>
      <br>
   <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent4.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Mulch</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=RfiwW7DtKsetoASv-KO4CA&q=Mulch&oq=Mulch&gs_l=psy-ab.3..0i71k1l8.90340.90340.0.90700.1.1.0.0.0.0.0.0..0.0....0...1c.1.64.psy-ab..1.0.0....0.nHsFNA2w05M" target="_blank">
          <h1>Mulch</h1>
        </a>
        <br>
        <p class="description">Mulches prevent soil that may contain disease-causing organisms from splashing onto the plants, and also helps retain soil moisture.</p>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent5.jpg" style="size: auto">
        <p class="caption">Avoid overcrowding</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=ofiwW-_uDs2EoATwubCYDQ&q=Avoid+overcrowding+the+plants&oq=Avoid+overcrowding+the+plants&gs_l=psy-ab.3..0i22i30k1.115206.115206.0.115679.1.1.0.0.0.0.354.354.3-1.1.0....0...1c.1.64.psy-ab..0.1.353....0.OPJYPPWdzhs" target="_blank">
          <h1>Avoid overcrowding the plants</h1>
        </a>
        <br>
        <p class="description">Crowding creates a moist, humid environment that is favorable for disease development.</p>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent6.jpg">
        <p class="caption">Water early in the day</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=mvmwW-j7I8fchwPPpq3YDw&q=Water+plants+early+in+the+day&oq=Water+plants+early+in+the+day&gs_l=psy-ab.3...5809.7456.0.7656.7.7.0.0.0.0.192.912.0j5.5.0....0...1c.1.64.psy-ab..2.0.0....0.ZbwnCgNqip0" target="_blank">
          <h1>Water early in the day</h1>
        </a>
        <br>
        <p class="description">Plants that remain wet throughout the night are more likely to develop disease problems</p>
      </div>
    </div>
  </div>
      <br>
   <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent7.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Remove diseased leaves</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=APqwW6fDFseuoATfuZyQBA&q=Remove+diseased+leaves&oq=Remove+diseased+leaves&gs_l=psy-ab.3..0i22i30k1.7869.7869.0.8067.1.1.0.0.0.0.180.180.0j1.1.0....0...1c.1.64.psy-ab..0.1.180....0.eGLUlnbqfDQ" target="_blank">
          <h1>Remove diseased leaves</h1>
        </a>
        <br>
        <p class="description"> Diseases are easily spread by wind and rain from diseased plant tissues. Destroy the diseased material. </p>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent8.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Promote growth</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?q=Fertilizer+to+promote+growth&spell=1&sa=X&ved=0ahUKEwjH39C5k-PdAhXEAIgKHUkrBUwQBQgoKAA&biw=1366&bih=657" target="_blank">
          <h1>Fertilizer to promote growth</h1>
        </a>
        <br>
        <p class="description"> Young, succulent growth is susceptible to attack by many fungi and bacteria</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="/static/img/prevent/prevent9.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Try to maintain damage</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?biw=1366&bih=657&ei=ufqwW8y6EcuDoASTtZaAAg&q=Try+to+maintain+plant+damage&oq=Try+to+maintain+plant+damage&gs_l=psy-ab.3..33i21k1.19971.22274.0.22426.12.12.0.0.0.0.295.1720.0j2j6.8.0....0...1c.1.64.psy-ab..4.7.1513...33i22i29i30k1j33i160k1.0.Uso9bkgtptk" target="_blank">
          <h1>Try to maintain damage</h1>
        </a>
        <br>
        <p class="description">Insect wounds provide entry sites for disease-causing organisms.</p>
      </div>
    </div>
  </div>

  <p id="pet" style="text-align:center;font: 1.5em Gabriola; padding-top: 2.5em; padding-bottom:2em;padding-right:13em;">3 tips to Prevent pet injury from garden pests</p>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="../../static/img/prevent10.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Plants can help</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?source=hp&ei=NzyxW5DXE9bXhwOI36KYDw&q=how+to+plant+Chrysanthemum&oq=how+to+plant+Chrysanthemum&gs_l=psy-ab.3..0j0i7i30k1l3j0j0i7i30k1j0l4.1901.8831.0.9261.22.18.0.0.0.0.484.2411.2-2j3j2.8.0....0...1c.1.64.psy-ab..14.8.2822.6..35i39k1j0i131k1j0i22i30k1.414.j84bdCNrt1g">
          <h1>Plant Chrysanthemum </h1>
        </a>
        <br>
        <p class="description">Cinerariifolium are one of the most effective natural insect repellents and is widely used by skilled gardeners who know how to use it</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="../../static/img/prevent11.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Diatomaceous earth</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=QTyxW57qN9fmwQOvtYegDw&q=Diatomaceous+earth&oq=Diatomaceous+earth&gs_l=psy-ab.3..0i67k1j0l3j0i67k1j0l5.215656.215656.0.216111.1.1.0.0.0.0.369.369.3-1.1.0....0...1c.1.64.psy-ab..0.1.368....0.Z889kU9KOfU">
          <h1>Diatomaceous earth</h1>
        </a>
        <br>
        <p class="description">Diatomaceous earth, also known as diatomite, has been used for roach extermination for decades and has proven to be very effective.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="../../static/img/prevent12.jpg" alt="Red Purple and Yellow Tulip">
        <p class="caption">Flea Control</p>
      </div>
      <div class="back">
        <a href="https://www.google.com.au/search?ei=HD2xW8mFFMnahwPRs7v4Cw&q=pet+flea+control&oq=pet+flea+control&gs_l=psy-ab.3..0l2j0i22i30k1l8.51222.54791.0.55094.16.13.0.0.0.0.364.2298.2-4j4.8.0....0...1c.1.64.psy-ab..8.8.2285...35i39k1j0i131k1j0i67k1j0i10i67k1j0i131i67k1j0i22i10i30k1.0.0Uv4iT4_ZVs" target="_blank">
          <h1>Use flea control</h1>
        </a>
        <br>
        <p class="description">To protect your family and your pet to use flea control.</p>
      </div>
    </div>
  </div>
  <div class="container"></div>
</div>
</div>

{%endblock content%}


