{%extends "base.html"%}
{%block content%}

    <title>Yellow_Aphids</title>

    <Link rel="stylesheet" href="/static/css/bug_detail.css">
 <script>
		var atuokey = false;

function $(id) {
    return document.getElementById(id);
}

function loadFunction(func){
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
        window.onload = func;
    } else {
        window.onload = function(){
            oldonload();
            func();
        }
    }
}

function moveElement(elementId, final_x, final_y, interval){
    node = $(elementId);

    if(node.movement){
        clearTimeout(node.movement);
    }
    if(!node.style.left){
        node.style.left = "0px";
    }
    if(!node.style.top){
        node.style.top = "0px";
    }

    var xpos = parseInt(node.style.left);
    var ypos = parseInt(node.style.top);
    if(xpos == final_x && ypos == final_y){
        return true;
    }
    if(xpos < final_x){
        var dis = Math.ceil((final_x - xpos)/10)
        xpos += dis;
    }
    if(xpos > final_x){
        var dis = Math.ceil((xpos-final_x)/10);
        xpos -= dis;
    }
    if(ypos < final_y){
        var dis = Math.ceil((final_y - ypos)/10);
        ypos += dis;
    }
    if(ypos > final_y){
        var dis = Math.ceil((ypos - final_y) /10);
        ypos -= dis;
    }

    node.style.left = xpos + "px";
    node.style.top = ypos + "px";

    var repeat = "moveElement('"+elementId+"',"+final_x+","+final_y+","+interval+")";
    node.movement = setInterval(repeat,interval);
}

function classNormal(picFoucusId, picTextId){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    for(var i = 0; i < 4; i++ ){
        focusNodes[i].className = "normal";
        textNodes[i].className = "normal";
    }
}

function classCurrent(picFoucusId, picTextId, n){
    var focusNodes = $(picFoucusId).getElementsByTagName("li");
    var textNodes = $(picTextId).getElementsByTagName("li");
    focusNodes[n].className = "current";
    textNodes[n].className = "current";
}

function picSwitch(){
    if(!$("picWhole")) return false;
    $("picWhole").onmouseover = function(){atuokey = true};
    $("picWhole").onmouseout = function(){atuokey = false};
    var picFocus = $("picFoucus").getElementsByTagName('li');
    var listLength = picFocus.length;
    if(listLength == 4){
        picFocus[0].onmouseover = function() {
                moveElement('picList',0,0,10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',0);
            }
            picFocus[1].onmouseover = function() {
                    moveElement('picList',0,-350,10);
                    classNormal('picFoucus','picText');
                    classCurrent('picFoucus','picText',1);
            }
            picFocus[2].onmouseover = function() {
                moveElement("picList", 0, -700, 10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',2);
            }
            picFocus[3].onmouseover = function() {
                moveElement("picList", 0, -1050, 10);
                classNormal('picFoucus','picText');
                classCurrent('picFoucus','picText',3);
            }
    }
}
function operation(n){
    var x = [0, -225, -450, -675];
    if(n == 3){
        moveElement('picList',0,x[n-3],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',0);
    }else{
        moveElement('picList',0,x[n+1],10);
        classNormal('picFoucus','picText');
        classCurrent('picFoucus','picText',n+1);
    }
}
loadFunction(picSwitch);
 </script>

  <h3 class="heading">Yellow Aphids</h3>
  <div class="row">
      <div class="content col-sm-1">
      <h2 class="h2" style="margin-left: 15px">G<br>arden <br>Pests</h2><br><br><br>
          <a href="#name" style="font:20px Georgia;">Introduction</a><br><br><br>
          <a href="#control" style="font:20px Georgia;">How to control and prevent</a>
      </div>
  <div class="body1">
  <div class="left col-sm-4">
     <h1 class="h1" id="name">Aphids (Aphidoidea)</h1>
      <br>
            <h2 class="h2">Aphids are small sap-sucking insects. They can be identified by their little pear-shaped bodies with long antennae and a pair of abdominal tubes. Common names include greenfly and blackfly. There are over 4000 species of Aphids and they vary in color and may be white, green, yellow, brown, black and pink. They are common in garden. Aphids feed on variety of plants including vegetables, fruits and ornamentals by sucking sap.</h2>
            <h2 class="h2">Curled leaves, yellowing, browning, unusual leaf drop, or stunted growth. Aphids can usually be spotted on tips of new growth and leaf undersides. Sticky liquid substance on leaves and stems. It’s called “honeydew” which is produced by the aphids and can be a sign for the presence of these insects.  This sugary liquid attracts ants. Black spots on leaves and branches.</h2>
      <br>
  </div>
  <div class="right col-sm-5">

      <div id="main">
         <div id="picWhole">
             <div id="pic">
                 <div id="picList">
                     <ul>
                         <li><a href="#" target="_blank"><img src="/static/img/1.1 Yellow_Aphids.jpg" alt=""/></a></li>
                         <li><a href="#" target="_blank"><img src="/static/img/1.2 aphid-crop2_full_width.jpg" alt=""/></a></li>
                         <li><a href="#" target="_blank"><img src="/static/img/1.3 aphids-on-apple-leaf-3_full_width.jpg" alt=""/></a></li>
                         <li><a href="#" target="_blank"><img src="/static/img/1.4 how-to-identify-aphids_full_width.jpeg" alt=""/></a></li>
                     </ul>
                 </div>
                 <div id="blank"></div>
                 <div id="picText">
                     <ul>
                         <li class="current">Yellow_Apjids</li>
                         <li class="normal">aphids on crop</li>
                         <li class="normal">aphids on apple leaf</li>
                         <li class="normal">how to identify aphids</li>
                     </ul>
                 </div>
             </div>
             <div id="picFoucus">
                 <ul>
                     <li class="current"><img src="/static/img/1.1 Yellow_Aphids.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/1.2 aphid-crop2_full_width.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/1.3 aphids-on-apple-leaf-3_full_width.jpg" alt=""/></li>
                     <li class="normal"><img src="/static/img/1.4 how-to-identify-aphids_full_width.jpeg" alt=""/></li>
                 </ul>
             </div>
         </div>
     </div>
</div>
      <div class="bottom col-sm-12">
            <h1 class="h1" id="control">Control and Preventions</h1>
      <br>
            <h2 class="h2">Crushing the insects by hand or prune the affected area of the plant can be a effective solution
            Rinse the affected plants with strong spray of cold water. Make sure to rinse the undersides of leaves.
            Attract beneficial insects, such as lady beetles, lacewings and parasitic wasps, which will consume aphids.
            Apply tomato leaf or garlic spray.
            Use horticultural oil or insecticidal soap for sever infestation.</h2>
      <br>
            <h1 class="h1">Non-Chemical Control</h1>
            <h2 class="h2">Sometimes, a strong blast of water from the hose will knock the aphids off of a plant and solve the problem. Just make sure the water is not too strong that it uproots the plant or overwaters it.

Try to attract beneficial insects like ladybugs, lacewings, parasitic wasps, or damsel bugs to your garden. They will attack the aphids. Plant mint, fennel, dill, yarrow, and dandelions to attract these beneficial predators to your garden.</h2>
      </div>
</div>
</div>

{%endblock content%}