{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4>Upload Your CSV file</h4>
            </div>
            <div class="card-body">
                    <form method="post", id="csv-form", name="csv-form", enctype="multipart/form-data">
                                {% csrf_token %}
                    <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="csv-form-filename">Connection Name</label>
                            <div class="col-sm-4">
                                {{ form.filename }}
                            </div>
                        </div>

                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="csv-form-document">Upload File</label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-md-7">
                                        {{ form.document }}
                                         {{ form.document.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Other Options</label>
                            <div class="col-sm-10">
                                <div>
                                    <input id="option" type="checkbox" value="">
                                    <label for="option">Auto Index</label>
                                </div>

                                <div>
                                    <input id="option" type="checkbox" value="">
                                    <label for="option">Save Connection</label>
                                </div>
                            </div>
                        </div>


                        <div class="line"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 offset-sm-2">
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

{% endblock %}